--
-- PostgreSQL database dump
--

\restrict KmcAZVYGN0AtwFn85acvspA6jjqPuKzmDZQVtrPpQD9rl9uenAz76Yo5FjsNH4B

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: individual_condition_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.individual_condition_enum AS ENUM (
    'good',
    'damaged_repairable',
    'damaged_no_diagnosis',
    'irreparable'
);


ALTER TYPE public.individual_condition_enum OWNER TO postgres;

--
-- Name: individual_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.individual_status_enum AS ENUM (
    'available',
    'loaned',
    'maintenance',
    'damaged',
    'blocked',
    'retired'
);


ALTER TYPE public.individual_status_enum OWNER TO postgres;

--
-- Name: item_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.item_type_enum AS ENUM (
    'consumable',
    'reusable',
    'individual'
);


ALTER TYPE public.item_type_enum OWNER TO postgres;

--
-- Name: loan_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.loan_status_enum AS ENUM (
    'pending',
    'in_review',
    'approved',
    'rejected',
    'in_progress',
    'completed',
    'cancelled',
    'overdue'
);


ALTER TYPE public.loan_status_enum OWNER TO postgres;

--
-- Name: return_condition_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.return_condition_enum AS ENUM (
    'good',
    'damaged'
);


ALTER TYPE public.return_condition_enum OWNER TO postgres;

--
-- Name: fn_create_stock_on_implement(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_create_stock_on_implement() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO stock (implement_id) VALUES (NEW.id);
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_create_stock_on_implement() OWNER TO postgres;

--
-- Name: fn_sync_user_role_keys(); Type: FUNCTION; Schema: public; Owner: panol_user
--

CREATE FUNCTION public.fn_sync_user_role_keys() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.role_uuid IS NULL AND NEW.role_id IS NOT NULL THEN
        SELECT r.uuid INTO NEW.role_uuid FROM public.role r WHERE r.id = NEW.role_id;
    END IF;

    IF NEW.role_id IS NULL AND NEW.role_uuid IS NOT NULL THEN
        SELECT r.id INTO NEW.role_id FROM public.role r WHERE r.uuid = NEW.role_uuid;
    END IF;

    IF NEW.auth_uuid IS NULL OR NEW.auth_uuid = '' THEN
        NEW.auth_uuid := NEW.uuid::text;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_sync_user_role_keys() OWNER TO panol_user;

--
-- Name: fn_validate_uuid_migration(); Type: FUNCTION; Schema: public; Owner: panol_user
--

CREATE FUNCTION public.fn_validate_uuid_migration() RETURNS TABLE(metric text, pending bigint)
    LANGUAGE sql
    AS $$
    SELECT 'user.uuid.null', COUNT(*)::bigint FROM public."user" WHERE uuid IS NULL
    UNION ALL
    SELECT 'user.role_uuid.null', COUNT(*)::bigint FROM public."user" WHERE role_id IS NOT NULL AND role_uuid IS NULL
    UNION ALL
    SELECT 'loan.requester_uuid.null', COUNT(*)::bigint FROM public.loan WHERE requester_id IS NOT NULL AND requester_uuid IS NULL
    UNION ALL
    SELECT 'loan_detail.loan_uuid.null', COUNT(*)::bigint FROM public.loan_detail WHERE loan_id IS NOT NULL AND loan_uuid IS NULL
    UNION ALL
    SELECT 'stock.implement_uuid.null', COUNT(*)::bigint FROM public.stock WHERE implement_id IS NOT NULL AND implement_uuid IS NULL;
$$;


ALTER FUNCTION public.fn_validate_uuid_migration() OWNER TO panol_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: panol_user
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    event character varying(120) NOT NULL,
    actor_user_id integer,
    target_user_id integer,
    payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_user_uuid uuid,
    target_user_uuid uuid
);


ALTER TABLE public.audit_log OWNER TO panol_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: panol_user
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO panol_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: panol_user
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_id_seq OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: implement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.implement (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    category_id integer,
    location_id integer NOT NULL,
    item_type public.item_type_enum DEFAULT 'reusable'::public.item_type_enum NOT NULL,
    barcode character varying(100),
    img_url text,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    observations character varying(500),
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    category_uuid uuid,
    location_uuid uuid
);


ALTER TABLE public.implement OWNER TO postgres;

--
-- Name: implement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.implement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.implement_id_seq OWNER TO postgres;

--
-- Name: implement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.implement_id_seq OWNED BY public.implement.id;


--
-- Name: individual; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.individual (
    id integer NOT NULL,
    implement_id integer NOT NULL,
    asset_code character varying(100) NOT NULL,
    status public.individual_status_enum DEFAULT 'available'::public.individual_status_enum NOT NULL,
    condition public.individual_condition_enum DEFAULT 'good'::public.individual_condition_enum NOT NULL,
    current_location_id integer,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    implement_uuid uuid,
    current_location_uuid uuid
);


ALTER TABLE public.individual OWNER TO postgres;

--
-- Name: individual_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.individual_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.individual_id_seq OWNER TO postgres;

--
-- Name: individual_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.individual_id_seq OWNED BY public.individual.id;


--
-- Name: loan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.loan (
    id integer NOT NULL,
    requester_id integer,
    external_name character varying(150),
    external_contact character varying(150),
    room_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    scheduled_date date NOT NULL,
    scheduled_time time without time zone NOT NULL,
    due_date date,
    status public.loan_status_enum DEFAULT 'pending'::public.loan_status_enum NOT NULL,
    approved_at timestamp with time zone,
    review_notes text,
    rejection_reason text,
    cancellation_reason text,
    delivered_at timestamp with time zone,
    completed_at timestamp with time zone,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    requester_uuid uuid,
    room_uuid uuid,
    CONSTRAINT chk_loan_requester CHECK (((requester_id IS NOT NULL) OR ((external_name IS NOT NULL) AND (external_contact IS NOT NULL))))
);


ALTER TABLE public.loan OWNER TO postgres;

--
-- Name: loan_detail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.loan_detail (
    id integer NOT NULL,
    loan_id integer NOT NULL,
    implement_id integer NOT NULL,
    requested_quantity integer NOT NULL,
    reserved_quantity integer DEFAULT 0 NOT NULL,
    delivered_quantity integer DEFAULT 0 NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    loan_uuid uuid,
    implement_uuid uuid,
    CONSTRAINT chk_detail_quantities CHECK (((reserved_quantity <= requested_quantity) AND (delivered_quantity <= reserved_quantity))),
    CONSTRAINT loan_detail_delivered_quantity_check CHECK ((delivered_quantity >= 0)),
    CONSTRAINT loan_detail_requested_quantity_check CHECK ((requested_quantity > 0)),
    CONSTRAINT loan_detail_reserved_quantity_check CHECK ((reserved_quantity >= 0))
);


ALTER TABLE public.loan_detail OWNER TO postgres;

--
-- Name: loan_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.loan_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.loan_detail_id_seq OWNER TO postgres;

--
-- Name: loan_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.loan_detail_id_seq OWNED BY public.loan_detail.id;


--
-- Name: loan_detail_individual; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.loan_detail_individual (
    id integer NOT NULL,
    loan_detail_id integer NOT NULL,
    individual_id integer NOT NULL,
    return_condition public.return_condition_enum,
    returned_at timestamp with time zone,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    loan_detail_uuid uuid,
    individual_uuid uuid
);


ALTER TABLE public.loan_detail_individual OWNER TO postgres;

--
-- Name: loan_detail_individual_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.loan_detail_individual_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.loan_detail_individual_id_seq OWNER TO postgres;

--
-- Name: loan_detail_individual_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.loan_detail_individual_id_seq OWNED BY public.loan_detail_individual.id;


--
-- Name: loan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.loan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.loan_id_seq OWNER TO postgres;

--
-- Name: loan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.loan_id_seq OWNED BY public.loan.id;


--
-- Name: location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    active boolean DEFAULT true NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL
);


ALTER TABLE public.location OWNER TO postgres;

--
-- Name: location_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.location_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.location_id_seq OWNER TO postgres;

--
-- Name: location_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.location_id_seq OWNED BY public.location.id;


--
-- Name: migration_check_relationship_uuid; Type: VIEW; Schema: public; Owner: panol_user
--

CREATE VIEW public.migration_check_relationship_uuid AS
 SELECT ( SELECT count(*) AS count
           FROM public.implement
          WHERE ((implement.category_id IS NOT NULL) AND (implement.category_uuid IS NULL))) AS implement_without_category_uuid,
    ( SELECT count(*) AS count
           FROM public.implement
          WHERE ((implement.location_id IS NOT NULL) AND (implement.location_uuid IS NULL))) AS implement_without_location_uuid,
    ( SELECT count(*) AS count
           FROM public.loan_detail
          WHERE ((loan_detail.loan_id IS NOT NULL) AND (loan_detail.loan_uuid IS NULL))) AS loan_detail_without_loan_uuid,
    ( SELECT count(*) AS count
           FROM public.loan_detail
          WHERE ((loan_detail.implement_id IS NOT NULL) AND (loan_detail.implement_uuid IS NULL))) AS loan_detail_without_implement_uuid;


ALTER VIEW public.migration_check_relationship_uuid OWNER TO panol_user;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    rut character varying(12) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role_id integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    blocked_until timestamp with time zone,
    last_login_at timestamp with time zone,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    auth_uuid character varying(255),
    role_uuid uuid
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: migration_check_user_uuid; Type: VIEW; Schema: public; Owner: panol_user
--

CREATE VIEW public.migration_check_user_uuid AS
 SELECT count(*) FILTER (WHERE (uuid IS NULL)) AS users_without_uuid,
    count(*) FILTER (WHERE ((auth_uuid IS NULL) OR ((auth_uuid)::text = ''::text))) AS users_without_auth_uuid
   FROM public."user";


ALTER VIEW public.migration_check_user_uuid OWNER TO panol_user;

--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    id integer NOT NULL,
    name character varying(80) NOT NULL,
    description character varying(255),
    uuid uuid DEFAULT gen_random_uuid() NOT NULL
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO postgres;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(255),
    uuid uuid DEFAULT gen_random_uuid() NOT NULL
);


ALTER TABLE public.room OWNER TO postgres;

--
-- Name: room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_id_seq OWNER TO postgres;

--
-- Name: room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_id_seq OWNED BY public.room.id;


--
-- Name: stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock (
    id integer NOT NULL,
    implement_id integer NOT NULL,
    total_stock integer DEFAULT 0 NOT NULL,
    min_stock integer DEFAULT 0 NOT NULL,
    available integer DEFAULT 0 NOT NULL,
    reserved integer DEFAULT 0 NOT NULL,
    loaned integer DEFAULT 0 NOT NULL,
    damaged integer DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    implement_uuid uuid,
    CONSTRAINT chk_stock_invariant CHECK (((((available + reserved) + loaned) + damaged) <= total_stock)),
    CONSTRAINT stock_available_check CHECK ((available >= 0)),
    CONSTRAINT stock_damaged_check CHECK ((damaged >= 0)),
    CONSTRAINT stock_loaned_check CHECK ((loaned >= 0)),
    CONSTRAINT stock_min_stock_check CHECK ((min_stock >= 0)),
    CONSTRAINT stock_reserved_check CHECK ((reserved >= 0)),
    CONSTRAINT stock_total_stock_check CHECK ((total_stock >= 0))
);


ALTER TABLE public.stock OWNER TO postgres;

--
-- Name: stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_id_seq OWNER TO postgres;

--
-- Name: stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_id_seq OWNED BY public.stock.id;


--
-- Name: token_revocation; Type: TABLE; Schema: public; Owner: panol_user
--

CREATE TABLE public.token_revocation (
    id bigint NOT NULL,
    jti character varying(128) NOT NULL,
    user_id integer,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    uuid uuid DEFAULT gen_random_uuid() NOT NULL,
    user_uuid uuid
);


ALTER TABLE public.token_revocation OWNER TO panol_user;

--
-- Name: token_revocation_id_seq; Type: SEQUENCE; Schema: public; Owner: panol_user
--

CREATE SEQUENCE public.token_revocation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.token_revocation_id_seq OWNER TO panol_user;

--
-- Name: token_revocation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: panol_user
--

ALTER SEQUENCE public.token_revocation_id_seq OWNED BY public.token_revocation.id;


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: v_active_loans; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_active_loans AS
 SELECT lo.id AS loan_id,
    u.name AS requester_name,
    u.rut AS requester_rut,
    lo.external_name,
    r.name AS room_name,
    lo.scheduled_date,
    lo.scheduled_time,
    lo.due_date,
    lo.status,
    lo.created_at,
    ((lo.due_date < CURRENT_DATE) AND (lo.status = 'in_progress'::public.loan_status_enum)) AS is_overdue
   FROM ((public.loan lo
     LEFT JOIN public."user" u ON ((u.id = lo.requester_id)))
     LEFT JOIN public.room r ON ((r.id = lo.room_id)))
  WHERE (lo.status <> ALL (ARRAY['completed'::public.loan_status_enum, 'cancelled'::public.loan_status_enum, 'rejected'::public.loan_status_enum]));


ALTER VIEW public.v_active_loans OWNER TO postgres;

--
-- Name: v_stock_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_stock_summary AS
 SELECT i.id AS implement_id,
    i.name AS implement_name,
    c.name AS category,
    l.name AS location,
    i.item_type,
    s.total_stock,
    s.min_stock,
    s.available,
    s.reserved,
    s.loaned,
    s.damaged,
        CASE
            WHEN (s.loaned > 0) THEN 'Prestado'::character varying
            ELSE l.name
        END AS display_location
   FROM (((public.implement i
     JOIN public.stock s ON ((s.implement_id = i.id)))
     LEFT JOIN public.category c ON ((c.id = i.category_id)))
     LEFT JOIN public.location l ON ((l.id = i.location_id)))
  WHERE (i.active = true);


ALTER VIEW public.v_stock_summary OWNER TO postgres;

--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: implement id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement ALTER COLUMN id SET DEFAULT nextval('public.implement_id_seq'::regclass);


--
-- Name: individual id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.individual ALTER COLUMN id SET DEFAULT nextval('public.individual_id_seq'::regclass);


--
-- Name: loan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan ALTER COLUMN id SET DEFAULT nextval('public.loan_id_seq'::regclass);


--
-- Name: loan_detail id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail ALTER COLUMN id SET DEFAULT nextval('public.loan_detail_id_seq'::regclass);


--
-- Name: loan_detail_individual id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail_individual ALTER COLUMN id SET DEFAULT nextval('public.loan_detail_individual_id_seq'::regclass);


--
-- Name: location id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location ALTER COLUMN id SET DEFAULT nextval('public.location_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: room id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room ALTER COLUMN id SET DEFAULT nextval('public.room_id_seq'::regclass);


--
-- Name: stock id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock ALTER COLUMN id SET DEFAULT nextval('public.stock_id_seq'::regclass);


--
-- Name: token_revocation id; Type: DEFAULT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.token_revocation ALTER COLUMN id SET DEFAULT nextval('public.token_revocation_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: panol_user
--



--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.category (id, name, description, active, created_at, uuid) FROM stdin;
1	General	\N	t	2026-05-10 05:47:06.312421+00	5b51d9bb-98a1-44f8-82d3-268dec0d5010
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: implement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.implement (id, name, description, category_id, location_id, item_type, barcode, img_url, active, created_at, updated_at, observations, uuid, category_uuid, location_uuid) FROM stdin;
1	Implemento UUID Test	prueba	1	1	reusable	UUID-001	\N	t	2026-05-10 05:47:51.366625+00	2026-05-10 05:47:51.366625+00	ok	cf381fc3-2682-4317-b682-c5720b527e10	\N	\N
2	UUID Smoke 20260510023201	Prueba smoke uuid-only	1	1	consumable	\N	\N	t	2026-05-10 06:32:01.360626+00	2026-05-10 06:32:01.360626+00	smoke-test	484ade5e-b435-4f92-b3dc-574703ddd67a	\N	\N
\.


--
-- Data for Name: individual; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.individual (id, implement_id, asset_code, status, condition, current_location_id, active, created_at, updated_at, uuid, implement_uuid, current_location_uuid) FROM stdin;
\.


--
-- Data for Name: loan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.loan (id, requester_id, external_name, external_contact, room_id, created_at, scheduled_date, scheduled_time, due_date, status, approved_at, review_notes, rejection_reason, cancellation_reason, delivered_at, completed_at, uuid, requester_uuid, room_uuid) FROM stdin;
\.


--
-- Data for Name: loan_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.loan_detail (id, loan_id, implement_id, requested_quantity, reserved_quantity, delivered_quantity, uuid, loan_uuid, implement_uuid) FROM stdin;
\.


--
-- Data for Name: loan_detail_individual; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.loan_detail_individual (id, loan_detail_id, individual_id, return_condition, returned_at, uuid, loan_detail_uuid, individual_uuid) FROM stdin;
\.


--
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.location (id, name, description, active, uuid) FROM stdin;
1	Por definir	Ubicacion pendiente	t	60c4918b-6ec1-4097-8216-689011140faa
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (id, name, description, uuid) FROM stdin;
1	DIRECTOR	Director de carrera	11266a58-bbce-4c9c-bd21-3d1516b371a7
2	COORDINADOR	Coordinador de laboratorio	1deb2946-93b6-425c-ae83-f3b18043682b
3	DOCENTE	Docente	dbff3237-29ee-4e93-b8df-38612bb5c34c
\.


--
-- Data for Name: room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room (id, name, description, uuid) FROM stdin;
\.


--
-- Data for Name: stock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock (id, implement_id, total_stock, min_stock, available, reserved, loaned, damaged, updated_at, uuid, implement_uuid) FROM stdin;
1	1	0	1	0	0	0	0	2026-05-10 05:47:51.366625+00	34696d4b-43ce-4ee3-b929-fa3b608bb1e5	\N
3	2	5	2	5	0	0	0	2026-05-10 06:32:02.574005+00	c400ca01-2f2c-4b24-84b8-4d887d7299b5	\N
\.


--
-- Data for Name: token_revocation; Type: TABLE DATA; Schema: public; Owner: panol_user
--

COPY public.token_revocation (id, jti, user_id, expires_at, created_at, uuid, user_uuid) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: panol_user
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 21, true);


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_id_seq', 1, true);


--
-- Name: implement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.implement_id_seq', 2, true);


--
-- Name: individual_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.individual_id_seq', 1, false);


--
-- Name: loan_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.loan_detail_id_seq', 1, false);


--
-- Name: loan_detail_individual_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.loan_detail_individual_id_seq', 1, false);


--
-- Name: loan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.loan_id_seq', 1, false);


--
-- Name: location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.location_id_seq', 1, true);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_id_seq', 3, true);


--
-- Name: room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_id_seq', 1, false);


--
-- Name: stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_id_seq', 5, true);


--
-- Name: token_revocation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: panol_user
--

SELECT pg_catalog.setval('public.token_revocation_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 2, true);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: category category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_name_key UNIQUE (name);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: implement implement_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement
    ADD CONSTRAINT implement_name_key UNIQUE (name);


--
-- Name: implement implement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement
    ADD CONSTRAINT implement_pkey PRIMARY KEY (id);


--
-- Name: individual individual_asset_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.individual
    ADD CONSTRAINT individual_asset_code_key UNIQUE (asset_code);


--
-- Name: individual individual_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.individual
    ADD CONSTRAINT individual_pkey PRIMARY KEY (id);


--
-- Name: loan_detail_individual loan_detail_individual_loan_detail_id_individual_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail_individual
    ADD CONSTRAINT loan_detail_individual_loan_detail_id_individual_id_key UNIQUE (loan_detail_id, individual_id);


--
-- Name: loan_detail_individual loan_detail_individual_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail_individual
    ADD CONSTRAINT loan_detail_individual_pkey PRIMARY KEY (id);


--
-- Name: loan_detail loan_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail
    ADD CONSTRAINT loan_detail_pkey PRIMARY KEY (id);


--
-- Name: loan loan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT loan_pkey PRIMARY KEY (id);


--
-- Name: location location_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT location_name_key UNIQUE (name);


--
-- Name: location location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT location_pkey PRIMARY KEY (id);


--
-- Name: role role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_name_key UNIQUE (name);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: room room_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_name_key UNIQUE (name);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (id);


--
-- Name: stock stock_implement_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_implement_id_key UNIQUE (implement_id);


--
-- Name: stock stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_pkey PRIMARY KEY (id);


--
-- Name: token_revocation token_revocation_jti_key; Type: CONSTRAINT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.token_revocation
    ADD CONSTRAINT token_revocation_jti_key UNIQUE (jti);


--
-- Name: token_revocation token_revocation_pkey; Type: CONSTRAINT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.token_revocation
    ADD CONSTRAINT token_revocation_pkey PRIMARY KEY (id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user user_rut_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_rut_key UNIQUE (rut);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_audit_actor_uuid; Type: INDEX; Schema: public; Owner: panol_user
--

CREATE INDEX idx_audit_actor_uuid ON public.audit_log USING btree (actor_user_uuid);


--
-- Name: idx_audit_log_created_at; Type: INDEX; Schema: public; Owner: panol_user
--

CREATE INDEX idx_audit_log_created_at ON public.audit_log USING btree (created_at DESC);


--
-- Name: idx_audit_target_uuid; Type: INDEX; Schema: public; Owner: panol_user
--

CREATE INDEX idx_audit_target_uuid ON public.audit_log USING btree (target_user_uuid);


--
-- Name: idx_category_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_category_active ON public.category USING btree (active);


--
-- Name: idx_implement_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_implement_active ON public.implement USING btree (active);


--
-- Name: idx_implement_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_implement_category ON public.implement USING btree (category_id);


--
-- Name: idx_implement_category_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_implement_category_uuid ON public.implement USING btree (category_uuid);


--
-- Name: idx_implement_location_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_implement_location_uuid ON public.implement USING btree (location_uuid);


--
-- Name: idx_individual_implement; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_individual_implement ON public.individual USING btree (implement_id);


--
-- Name: idx_individual_implement_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_individual_implement_uuid ON public.individual USING btree (implement_uuid);


--
-- Name: idx_individual_location_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_individual_location_uuid ON public.individual USING btree (current_location_uuid);


--
-- Name: idx_individual_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_individual_status ON public.individual USING btree (status);


--
-- Name: idx_ldi_individual; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ldi_individual ON public.loan_detail_individual USING btree (individual_id);


--
-- Name: idx_ldi_loan_detail; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ldi_loan_detail ON public.loan_detail_individual USING btree (loan_detail_id);


--
-- Name: idx_loan_detail_implement; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_detail_implement ON public.loan_detail USING btree (implement_id);


--
-- Name: idx_loan_detail_implement_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_detail_implement_uuid ON public.loan_detail USING btree (implement_uuid);


--
-- Name: idx_loan_detail_individual_detail_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_detail_individual_detail_uuid ON public.loan_detail_individual USING btree (loan_detail_uuid);


--
-- Name: idx_loan_detail_individual_individual_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_detail_individual_individual_uuid ON public.loan_detail_individual USING btree (individual_uuid);


--
-- Name: idx_loan_detail_loan; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_detail_loan ON public.loan_detail USING btree (loan_id);


--
-- Name: idx_loan_detail_loan_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_detail_loan_uuid ON public.loan_detail USING btree (loan_uuid);


--
-- Name: idx_loan_due_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_due_date ON public.loan USING btree (due_date) WHERE (due_date IS NOT NULL);


--
-- Name: idx_loan_requester; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_requester ON public.loan USING btree (requester_id);


--
-- Name: idx_loan_requester_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_requester_uuid ON public.loan USING btree (requester_uuid);


--
-- Name: idx_loan_room_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_room_uuid ON public.loan USING btree (room_uuid);


--
-- Name: idx_loan_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_loan_status ON public.loan USING btree (status);


--
-- Name: idx_location_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_location_active ON public.location USING btree (active);


--
-- Name: idx_stock_implement; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_implement ON public.stock USING btree (implement_id);


--
-- Name: idx_stock_implement_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_implement_uuid ON public.stock USING btree (implement_uuid);


--
-- Name: idx_token_revocation_expires_at; Type: INDEX; Schema: public; Owner: panol_user
--

CREATE INDEX idx_token_revocation_expires_at ON public.token_revocation USING btree (expires_at);


--
-- Name: idx_token_revocation_user_uuid; Type: INDEX; Schema: public; Owner: panol_user
--

CREATE INDEX idx_token_revocation_user_uuid ON public.token_revocation USING btree (user_uuid);


--
-- Name: idx_user_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_active ON public."user" USING btree (active);


--
-- Name: idx_user_role_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_role_uuid ON public."user" USING btree (role_uuid);


--
-- Name: idx_user_rut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_rut ON public."user" USING btree (rut);


--
-- Name: ux_audit_log_uuid; Type: INDEX; Schema: public; Owner: panol_user
--

CREATE UNIQUE INDEX ux_audit_log_uuid ON public.audit_log USING btree (uuid);


--
-- Name: ux_category_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_category_uuid ON public.category USING btree (uuid);


--
-- Name: ux_implement_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_implement_uuid ON public.implement USING btree (uuid);


--
-- Name: ux_individual_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_individual_uuid ON public.individual USING btree (uuid);


--
-- Name: ux_loan_detail_individual_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_loan_detail_individual_uuid ON public.loan_detail_individual USING btree (uuid);


--
-- Name: ux_loan_detail_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_loan_detail_uuid ON public.loan_detail USING btree (uuid);


--
-- Name: ux_loan_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_loan_uuid ON public.loan USING btree (uuid);


--
-- Name: ux_location_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_location_uuid ON public.location USING btree (uuid);


--
-- Name: ux_role_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_role_uuid ON public.role USING btree (uuid);


--
-- Name: ux_room_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_room_uuid ON public.room USING btree (uuid);


--
-- Name: ux_stock_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_stock_uuid ON public.stock USING btree (uuid);


--
-- Name: ux_token_revocation_uuid; Type: INDEX; Schema: public; Owner: panol_user
--

CREATE UNIQUE INDEX ux_token_revocation_uuid ON public.token_revocation USING btree (uuid);


--
-- Name: ux_user_auth_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_user_auth_uuid ON public."user" USING btree (auth_uuid);


--
-- Name: ux_user_uuid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ux_user_uuid ON public."user" USING btree (uuid);


--
-- Name: implement trg_create_stock_on_implement; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_create_stock_on_implement AFTER INSERT ON public.implement FOR EACH ROW EXECUTE FUNCTION public.fn_create_stock_on_implement();


--
-- Name: user trg_sync_user_role_keys; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_sync_user_role_keys BEFORE INSERT OR UPDATE ON public."user" FOR EACH ROW EXECUTE FUNCTION public.fn_sync_user_role_keys();


--
-- Name: audit_log fk_audit_actor_user_uuid; Type: FK CONSTRAINT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT fk_audit_actor_user_uuid FOREIGN KEY (actor_user_uuid) REFERENCES public."user"(uuid);


--
-- Name: audit_log fk_audit_target_user_uuid; Type: FK CONSTRAINT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT fk_audit_target_user_uuid FOREIGN KEY (target_user_uuid) REFERENCES public."user"(uuid);


--
-- Name: implement fk_implement_category_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement
    ADD CONSTRAINT fk_implement_category_uuid FOREIGN KEY (category_uuid) REFERENCES public.category(uuid);


--
-- Name: implement fk_implement_location_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement
    ADD CONSTRAINT fk_implement_location_uuid FOREIGN KEY (location_uuid) REFERENCES public.location(uuid);


--
-- Name: individual fk_individual_implement_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.individual
    ADD CONSTRAINT fk_individual_implement_uuid FOREIGN KEY (implement_uuid) REFERENCES public.implement(uuid);


--
-- Name: individual fk_individual_location_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.individual
    ADD CONSTRAINT fk_individual_location_uuid FOREIGN KEY (current_location_uuid) REFERENCES public.location(uuid);


--
-- Name: loan_detail fk_loan_detail_implement_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail
    ADD CONSTRAINT fk_loan_detail_implement_uuid FOREIGN KEY (implement_uuid) REFERENCES public.implement(uuid);


--
-- Name: loan_detail_individual fk_loan_detail_individual_detail_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail_individual
    ADD CONSTRAINT fk_loan_detail_individual_detail_uuid FOREIGN KEY (loan_detail_uuid) REFERENCES public.loan_detail(uuid);


--
-- Name: loan_detail_individual fk_loan_detail_individual_individual_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail_individual
    ADD CONSTRAINT fk_loan_detail_individual_individual_uuid FOREIGN KEY (individual_uuid) REFERENCES public.individual(uuid);


--
-- Name: loan_detail fk_loan_detail_loan_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail
    ADD CONSTRAINT fk_loan_detail_loan_uuid FOREIGN KEY (loan_uuid) REFERENCES public.loan(uuid);


--
-- Name: loan fk_loan_requester_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT fk_loan_requester_uuid FOREIGN KEY (requester_uuid) REFERENCES public."user"(uuid);


--
-- Name: loan fk_loan_room_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT fk_loan_room_uuid FOREIGN KEY (room_uuid) REFERENCES public.room(uuid);


--
-- Name: stock fk_stock_implement_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT fk_stock_implement_uuid FOREIGN KEY (implement_uuid) REFERENCES public.implement(uuid);


--
-- Name: token_revocation fk_token_revocation_user_uuid; Type: FK CONSTRAINT; Schema: public; Owner: panol_user
--

ALTER TABLE ONLY public.token_revocation
    ADD CONSTRAINT fk_token_revocation_user_uuid FOREIGN KEY (user_uuid) REFERENCES public."user"(uuid);


--
-- Name: user fk_user_role_uuid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT fk_user_role_uuid FOREIGN KEY (role_uuid) REFERENCES public.role(uuid);


--
-- Name: implement implement_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement
    ADD CONSTRAINT implement_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.category(id) ON DELETE SET NULL;


--
-- Name: implement implement_location_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement
    ADD CONSTRAINT implement_location_fk FOREIGN KEY (location_id) REFERENCES public.location(id) ON DELETE RESTRICT;


--
-- Name: implement implement_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.implement
    ADD CONSTRAINT implement_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.location(id) ON DELETE SET NULL;


--
-- Name: individual individual_current_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.individual
    ADD CONSTRAINT individual_current_location_id_fkey FOREIGN KEY (current_location_id) REFERENCES public.location(id) ON DELETE SET NULL;


--
-- Name: individual individual_implement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.individual
    ADD CONSTRAINT individual_implement_id_fkey FOREIGN KEY (implement_id) REFERENCES public.implement(id);


--
-- Name: loan_detail loan_detail_implement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail
    ADD CONSTRAINT loan_detail_implement_id_fkey FOREIGN KEY (implement_id) REFERENCES public.implement(id);


--
-- Name: loan_detail_individual loan_detail_individual_individual_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail_individual
    ADD CONSTRAINT loan_detail_individual_individual_id_fkey FOREIGN KEY (individual_id) REFERENCES public.individual(id);


--
-- Name: loan_detail_individual loan_detail_individual_loan_detail_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail_individual
    ADD CONSTRAINT loan_detail_individual_loan_detail_id_fkey FOREIGN KEY (loan_detail_id) REFERENCES public.loan_detail(id) ON DELETE CASCADE;


--
-- Name: loan_detail loan_detail_loan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan_detail
    ADD CONSTRAINT loan_detail_loan_id_fkey FOREIGN KEY (loan_id) REFERENCES public.loan(id) ON DELETE CASCADE;


--
-- Name: loan loan_requester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT loan_requester_id_fkey FOREIGN KEY (requester_id) REFERENCES public."user"(id) ON DELETE SET NULL;


--
-- Name: loan loan_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loan
    ADD CONSTRAINT loan_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.room(id) ON DELETE SET NULL;


--
-- Name: stock stock_implement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_implement_id_fkey FOREIGN KEY (implement_id) REFERENCES public.implement(id);


--
-- Name: user user_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict KmcAZVYGN0AtwFn85acvspA6jjqPuKzmDZQVtrPpQD9rl9uenAz76Yo5FjsNH4B

